.ng-enter{
	transition: 1s;
	opacity: 0;
}

.ng-enter-active{
	opacity: 1;
}

/*.ng-leave{
	transition: 1s;
	opacity: 1;
}

.ng-leave-active{
	opacity: 0;
}*/



.man_icon svg path {
	fill:blue;
	transition:1s;
}

.man_icon.active svg path {
	fill:red;
}
