<div class="graphs">

	<h2>Graphs</h2>

	<div class="row">

		
		<div class="col-md-2">
			
			<div class="selection">
		
				<div class="checkbox">
					
					<label for="test1">
						<input type="checkbox" id="test1"> Test1
					</label>

				</div>


				<div class="checkbox">
					
					<label for="test2">
						<input type="checkbox" id="test2"> Test2
					</label>

				</div>

				<div ng-repeat="dat in data">
					{{dat.name}} 2
				</div>
				
			</div>

		</div>

		<div class="col-md-10">
			
			<div id="graph">
		
				
				
			</div>

		</div>

	</div>
				

	<div>
		<a class="btn btn-default" href="#/treatment">next</a>
	</div>

</div>