



	<div class="col-md-4">
		No Therapy {{noTherapy}}%
	</div>


	<div class="col-md-8 no_therapy_row" >

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>




	<div class="col-md-4">
		Aspirin {{aspirin}}%
	</div>
	

	<div class="col-md-8 aspirin_row">

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>




	<div class="col-md-4">
		VKA {{vka}}%
	</div>
	

	<div class="col-md-8 vka_row">

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>



	<div class="col-md-4">
		NOAK {{noak}}%
	</div>
	

	<div class="col-md-8 noak_row">

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>

