



	<div class="col-md-4">
		No Therapy {{rows.noTherapy.val}}%
	</div>


	<div class="col-md-8 no_therapy_row" >

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>




	<div class="col-md-4">
		Aspirin {{rows.aspirin.val}}%
	</div>
	

	<div class="col-md-8 aspirin_row">

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>




	<div class="col-md-4">
		VKA {{rows.vka.val}}%
	</div>
	

	<div class="col-md-8 vka_row">

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>



	<div class="col-md-4">
		NOAK {{rows.noak.val}}%
	</div>
	

	<div class="col-md-8 noak_row">

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>

