

	<h3>Rows</h3>


	<div class="col-md-3 man-row">
		No Therapy {{treatments.no_therapy}}%
	</div>


	<div class="col-md-9 no_therapy_row man-row" >

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>




	<div class="col-md-3 man-row">
		Aspirin {{treatments.aspirin}}%
	</div>
	

	<div class="col-md-9 aspirin_row man-row">

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>




	<div class="col-md-3 man-row">
		VKA {{treatments.vka}}%
	</div>
	

	<div class="col-md-9 vka_row man-row">

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>



	<div class="col-md-3 man-row">
		NOAK {{treatments.noak}}%
	</div>
	

	<div class="col-md-9 noak_row man-row">

		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>
		 <span ng-include="'img/man1.svg'" class="man_icon"></span>

	</div>

