<div class="selections">

	<h2>Selections</h2>
				
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus enim quaerat molestias perspiciatis modi nesciunt, placeat aspernatur adipisci quia cupiditate perferendis voluptates ad blanditiis. Eos minima aliquam ipsam ullam aspernatur.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt vitae ab quasi reprehenderit earum hic eaque expedita cumque enim aliquam ut, optio esse quia quos facilis dolorem! Dolor, veritatis fugiat.</p>

	<div>
		<a class="btn btn-default" href="#/">next</a>
	</div>

</div>